h1 {
    font-family: 'Alfa Slab One', cursive;
    color: rgb(105, 255, 118);
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    }

h2 {
    font-family: "Cambria", sans-serif;
    color: black;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

h3 {
    font-family: "Calibri", sans-serif;
    color: blue;
    text-decoration: underline;
    font-size: 16px;
}

p, {
    padding-bottom: 10px
}